.suscripcion *{
    font-size: 18px;
}
.suscripcion input{
    width: 280px;
    padding: 4px;
}

.suscripcion button{
    color: white;
    padding: 6px;
    background-color: rgb(46, 189, 194);
    border: none;
    border-radius: 2px;
    cursor: pointer;

}

.suscripcion button:hover{
    background-color: rgb(37, 161, 165);
}

.articulos{
    margin-top: 12px;
}
.articulos article{
    margin: 12px 0px;
    border: 1px solid black;
    padding: 8px;
    width: 540px;
    font-size: 18px;
}

.article-header{
    margin-bottom: 8px;
}

.footer-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}